<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Vehiculos</title>
</head>
<body>
    <h1>Listado vehiculos</h1>
    <div class="row">
        <table border="1">
            <tr><td>Id producto</td><td>Nombre Prducto</td> <td>Precio</td> <td>descripcion</td><td>Categoria</td></tr>
            {% for pr in productos %}
            <tr><td>{{pr.idProducto}}</td><td>{{pr.nombreProducto}}</td> <td>{{pr.precioProducto}}</td> <td>{{pr.descripcionProducto}}</td><td>{{pr.id_categoria}}</td></tr>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>